ANTHROPIC_API_KEY=
OPENAI_API_KEY=
EternalAI_API_KEY=
EternalAI_API_URL=
FARCASTER_MNEMONIC=
HYPERBOLIC_API_KEY=
GALADRIEL_API_KEY=
GALADRIEL_FINE_TUNE_API_KEY=
TWITTER_CONSUMER_KEY=            
TWITTER_CONSUMER_SECRET=          
TWITTER_ACCESS_TOKEN=            
TWITTER_ACCESS_TOKEN_SECRET=      
TWITTER_USER_ID=
SOLANA_PRIVATE_KEY=